<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NanumBarunGothic.ttf</string>
		<string>NanumBarunGothicBold.ttf</string>
		<string>NanumBarunGothicLight.ttf</string>
		<string>NanumBarunGothicUltraLight.ttf</string>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-ExtraBold.otf</string>
		<string>SUIT-ExtraLight.otf</string>
		<string>SUIT-Heavy.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-semiBold.otf</string>
		<string>SUIT-Thin.otf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>NanumSquareRoundOTFL.otf</string>
		<string>NanumSquareRoundOTFR.otf</string>
		<string>NanumSquareRoundOTFB.otf</string>
		<string>NanumSquareRoundOTFEB.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Home</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
